.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
}

.navigation .menu {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 17px;
  color: black;
  margin-left: 60px;
  margin-right: 10px;
  text-decoration: none;
}

.menu:hover {
  font-style: italic;
}

.setting {
  display: flex;
}

.setting img {
  padding: 7px;
  border-radius: 20px;
}

.setting img:hover {
  background-color: #f1f2f0;
  cursor: pointer;
}
