.mobileTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobileTitle p:not(:last-child) {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin: 0;
  font-size: 50px;
}

.title p:not(:last-child) {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin: 0;
  font-size: 50px;
}
.mobileTitle .description {
  font-size: 30px;
}

.title .description {
  margin-top: 20px;
  width: 60%;
  text-align: center;
}

.highlight {
  background-color: #ffb800;
}
